* {
  margin: 0;
  box-sizing: border-box;
}
@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  .header_container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
  }
  .header_container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }
  .header_container11 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: gray;
  }
  .icon {
    display: flex;
    flex-direction: row;
  }
}
